<art:body>
  <art:cmsContentBlock path="content-blocks/common/header/responsive/other/svg-library"></art:cmsContentBlock>
  {%include 'partials/header/svg.njk' %}
  <nav class="nav-main">
    <!--Top Header-->
    <div class="mobile hamburger">
      <a href="#" style="display: inline-block" class="off-canvas-trigger" data-transition="ease">
        <svg width="25px" height="20px" viewBox="0 0 25 20" aria-labelledby="title desc" fill="#FFF">
          <rect width="25" height="4"></rect>
          <rect y="8" width="25" height="4"></rect>
          <rect y="16" width="25" height="4"></rect>
          <title>Menu Icon</title>
          <desc>This icon opens the menu</desc>
        </svg>
      </a>
    </div>
    <div class="mobile search-mobile">
      <a href="#" id="hdr-search-icon">
        <svg width="25px" height="20px" viewBox="0 0 11 11" aria-labelledby="title desc" fill="#FFF">
          <title>Search Icon</title>
          <desc>A dark-gray magnifying glass icon.</desc>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
        </svg>
      </a>
    </div>
    <div class="both logo">
      <a href="/">
        <img src="http://cache1.allpostersimages.com/images/INTL/allposters/logo/white/r.png" alt="logo" />
      </a>
    </div>
    <div class="nav-main--content">
      <div id="headerTop" class="headerTop help">
        Need Help? 888-654-0143 | Sign up for Special Offers | Track Your Order | Help <span id="headerMLS" onclick="fnChangePageLanguage('es','en','en')">Español</span><span class="hidden" id="mlsGaTrack">true</span>
      </div>
      <div class="headrCart" id="headerCart">
        <a onclick="trackGAEvent('SelectCart','Header');" href="/gallery.asp?startat=/viewcart.asp">
          <svg width="25px" height="20px" viewBox="0 0 11.1 9.4" aria-labelledby="title desc" fill="#FFF">
            <title>Search Icon</title>
            <desc>A shopping cart icon.</desc>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cart"></use>
          </svg><span class="desktop-inline">Cart</span><span id="cartCountText">0</span></a>
      </div>
      <div class="headerVP">
        <span class="desktop-inline valueprops"><a href="/our-products/overview">Our Products</a> | <a href="/services/frames">Frames &amp; More</a> | <span class="headerValueProp" onClick="window.location.href = getProfileKey() + 'gallery/';">My Favorites</span> |<art:cmsContentBlock path="content-blocks/common/header/responsive/other/valueprops"></art:cmsContentBlock></span>
        {% import 'macros/header/loginMain.njk' as loginMain %}
        {{loginMain.login('false')}}
      </div>
      <span class="mobile-inline favorites" onClick="window.location.href = getProfileKey() + 'gallery/';"><svg width="25px" height="20px" viewBox="0 0 15 10" aria-labelledby="title desc" fill="#FFF">
        <title>Favorites Icon</title>
        <desc>A heart icon.</desc>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"></use>
      </svg></span>
    </div>
    <div class="nav-main--search" style="display: none;">
      <art:cmsContentBlock path="content-blocks/common/header/responsive/other/search"></art:cmsContentBlock>

      <div id="headerSearchContainer-mobile" class="searchBar searchBar-mobile floatLeft">
        <form art:link="action" action="/gallery.asp" method="get" id="forSearch" name="forSearch" onSubmit="trackGAEvent('SelectSearch','Header');">
          <input type="hidden" art:link="value" value="/getthumb.asp" name="startat" />
          <input type="text" class="searchBoxText" id="txtSearch" name="txtSearch" autocomplete="off" placeholder="Search AllPosters"/>
          <input type="hidden" name="CID" art:sessionId="htmlAttribute:value" value="#" />
          <input type="submit" class="searchButton" value="Search" id="headerSearchButton" />
        </form>
      </div>

    </div>
  </nav>
  <nav class="nav-menu">
    <!--bottom Header-->

    <div id="headerSearchContainer" class="searchBar searchBar-desktop floatLeft">
      <form art:link="action" action="/gallery.asp" method="get" id="forSearch" name="forSearch" onSubmit="trackGAEvent('SelectSearch','Header');">
        <input art:link="value" type="hidden" value="/getthumb.asp" name="startat" />
        <input type="text" class="searchBoxText" id="txtSearch" name="txtSearch" autocomplete="off" />
        <input type="hidden" name="CID" art:sessionId="htmlAttribute:value" value="#" />
        <input type="submit" class="searchButton" value="Search" id="headerSearchButton" />
      </form>
    </div>

    {% import 'macros/header/loginTray.njk' as loginTray %}
    {{loginTray.login('false')}}
    <ul class="both menu accordion">
      <art:cmsContentBlock path="content-blocks/common/header/responsive/menus/subjects"></art:cmsContentBlock>
      {%include 'partials/header/menus/subjects.html' %}
      <art:cmsContentBlock path="content-blocks/common/header/responsive/menus/art"></art:cmsContentBlock>
      {%include 'partials/header/menus/art.html' %}
      <art:cmsContentBlock path="content-blocks/common/header/responsive/menus/photography"></art:cmsContentBlock>
      {%include 'partials/header/menus/photography.html' %}
      <art:cmsContentBlock path="content-blocks/common/header/responsive/menus/t-shirts"></art:cmsContentBlock>
      {%include 'partials/header/menus/t-shirts.html' %}
      <art:cmsContentBlock path="content-blocks/common/header/responsive/menus/walldecor"></art:cmsContentBlock>
      {%include 'partials/header/menus/walldecor.html' %}
      <art:cmsContentBlock path="content-blocks/common/header/responsive/menus/novelty"></art:cmsContentBlock>
      {%include 'partials/header/menus/novelty.html' %}
      <art:cmsContentBlock path="content-blocks/common/header/responsive/menus/shopallcategories"></art:cmsContentBlock>
      {%include 'partials/header/menus/shopallcategories.html' %}
      <art:cmsContentBlock path="content-blocks/common/header/responsive/menus/new"></art:cmsContentBlock>
      {%include 'partials/header/menus/new.html' %}
      <art:cmsContentBlock path="content-blocks/common/header/responsive/menus/sale"></art:cmsContentBlock>
      {%include 'partials/header/menus/sale.html' %}
      <art:cmsContentBlock path="content-blocks/common/header/responsive/menus/myphotos"></art:cmsContentBlock>
      {%include 'partials/header/menus/myphotos.html' %}
    </ul>
    <div class="dropdown-footer">
      <div class="dropdown-footer-email">
        <h2>Get notified about special offers and<br><span class="blue-text">Get 20% off your next order.</span></h2>
        <div id="header_email_capture" class="emailCapture-menu">
        	<form method="post" class="emailSignUp" id="emailSignUpHeader" action="/ADC.Net/Root/Pages/Email/Email_accept.aspx" onsubmit="return validateEmailHeader();">
        		<div class="emailSignUpError">
        			Please enter a valid email address
        		</div>
        		<input type="text" id="emailSignUpHeaderInput" class="emailSignUpInput" name="email" placeholder="Email Address" />
        		<input type="submit" id="emailSignUpHeaderSubmit" class="emailSignUpSubmit" value="Submit" />
        		<span id="emailSignUpHeaderDefaultText" class="hidden" >Enter Email Address</span>
        	</form>
        </div>
      </div>
      <div class="hdr-social">
        <ul>
          <li>
            <a href="https://www.facebook.com/AllPosters">
              <svg class="social-icon" id="facebook" viewBox="0 0 48 48" enable-background="new 0 0 48 48">
                <path d="M24,0C10.7,0,0,10.8,0,24.1c0,12,8.7,21.9,20.2,23.8V31.6h-5.6v-6.6h5.6v-4.8c0-5.6,3.4-8.7,8.4-8.7 c2.4,0,4.4,0.2,5,0.3v5.9l-3.5,0c-2.7,0-3.2,1.3-3.2,3.2v4.2h6.5l-0.8,6.6h-5.6V48C38.8,46.5,48,36.4,48,24.1C48,10.8,37.3,0,24,0z"></path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/u/0/+allposters/posts">
              <svg class="social-icon" id="gplus" viewBox="0 0 48 48" enable-background="new 0 0 48 48">
                <path d="M24,0C10.7,0,0,10.7,0,24s10.7,24,24,24c13.3,0,24-10.7,24-24S37.3,0,24,0z M18.1,35 c-5.7,0-10.4-4.6-10.4-10.4c0-5.7,4.6-10.4,10.4-10.4c2.7,0,5.1,1,7,2.7c-2.2,2-2.1,2.2-2.9,3c-1.1-0.9-2.2-1.5-4-1.5 c-3.4,0-6,2.8-6,6.2c0,3.4,2.7,6.2,6,6.2c3.4,0,4.7-1.4,5.6-4.1c-1.6,0-5.6,0-5.6,0v-4.1c0,0,7.9,0,9.9,0C28.7,27.6,26.7,35,18.1,35 z M37.5,25.9v3.7h-2.6v-3.7h-3.7v-2.6h3.7v-3.6h2.6v3.6H41v2.6H37.5z"></path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://pinterest.com/AllPosters/">
              <svg class="social-icon" id="pinterest" viewBox="0 0 48 48" enable-background="new 0 0 48 48">
                <path d="M24,0C10.7,0,0,10.7,0,24c0,9.8,5.9,18.3,14.4,22c-0.1-1.7,0-3.7,0.4-5.5c0.5-2,3.1-13.1,3.1-13.1 s-0.8-1.5-0.8-3.8c0-3.6,2.1-6.2,4.6-6.2c2.2,0,3.2,1.6,3.2,3.6c0,2.2-1.4,5.5-2.1,8.5c-0.6,2.5,1.3,4.6,3.8,4.6 c4.5,0,7.6-5.8,7.6-12.8c0-5.3-3.5-9.2-10-9.2c-7.3,0-11.8,5.4-11.8,11.5c0,2.1,0.6,3.6,1.6,4.7c0.4,0.5,0.5,0.7,0.3,1.3 c-0.1,0.4-0.4,1.5-0.5,1.9c-0.2,0.6-0.7,0.8-1.2,0.6c-3.4-1.4-4.9-5-4.9-9.2c0-6.8,5.7-15,17.2-15c9.2,0,15.2,6.6,15.2,13.7 c0,9.4-5.2,16.4-13,16.4c-2.6,0-5-1.4-5.9-3c0,0-1.4,5.5-1.7,6.6c-0.5,1.8-1.5,3.7-2.4,5.1c2.2,0.6,4.4,1,6.8,1 c13.3,0,24-10.7,24-24C48,10.7,37.3,0,24,0z"></path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/AllPosters/">
              <svg class="social-icon" id="instagram" viewBox="0 0 48 48" enable-background="new 0 0 48 48">
                <g>
                  <path d="M30.1,18.9h3c0.7,0,1.2-0.5,1.2-1.2v-2.9c0-0.7-0.5-1.2-1.2-1.2h-3c-0.7,0-1.2,0.5-1.2,1.2v2.9
                  C28.9,18.3,29.5,18.9,30.1,18.9z"></path>
                  <ellipse cx="24" cy="23.9" rx="5.4" ry="5.2"></ellipse>
                  <path d="M24,0C10.7,0,0,10.7,0,24c0,13.3,10.7,24,24,24c13.3,0,24-10.7,24-24C48,10.7,37.3,0,24,0z M37.4,34 c0,1.9-1.5,3.4-3.4,3.4H14c-1.9,0-3.4-1.5-3.4-3.4V14c0-1.9,1.5-3.4,3.4-3.4H34c1.9,0,3.4,1.5,3.4,3.4V34z"></path>
                  <path d="M32.4,24.2c0,4.5-3.7,8.1-8.3,8.1c-4.6,0-8.3-3.6-8.3-8.1c0-0.8,0.1-1.6,0.3-2.3h-2.5v11.3 c0,0.6,0.5,1.1,1.1,1.1h18.7c0.6,0,1.1-0.5,1.1-1.1V21.9H32C32.2,22.7,32.4,23.4,32.4,24.2z"></path>
                </g>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/AllPosters">
              <svg class="social-icon last" id="twitter" viewBox="0 0 48 48" enable-background="new 0 0 48 48">
                <path d="M24,0C10.7,0,0,10.7,0,24c0,13.3,10.7,24,24,24c13.3,0,24-10.7,24-24C48,10.7,37.3,0,24,0z M36.4,18.7 c0,0.3,0,0.5,0,0.8c0,7.9-6,17.1-17.1,17.1c-3.4,0-6.5-1-9.2-2.7c0.5,0.1,0.9,0.1,1.4,0.1c2.8,0,5.4-1,7.4-2.6 c-2.6,0-4.8-1.8-5.6-4.2c0.4,0.1,0.7,0.1,1.1,0.1c0.5,0,1.1-0.1,1.6-0.2c-2.7-0.6-4.8-3-4.8-5.9v-0.1c0.8,0.4,1.7,0.7,2.7,0.7 c-1.6-1.1-2.7-2.9-2.7-5c0-1.1,0.3-2.1,0.8-3c3,3.6,7.4,6,12.4,6.3c-0.1-0.4-0.2-0.9-0.2-1.4c0-3.3,2.7-6,6-6c1.7,0,3.3,0.7,4.4,1.9 c1.4-0.3,2.6-0.8,3.8-1.5c-0.4,1.4-1.4,2.6-2.6,3.3c1.2-0.1,2.4-0.5,3.4-0.9C38.5,16.8,37.5,17.8,36.4,18.7z"></path>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    <ul class="dropdown__list dropdown-footer-list">
      <li>
        <a href="/ADC.Net/Root/Pages/Tracking/OrderTracking.aspx" rel="nofollow">Track my order</a>
      </li>
      <li>
        <a href="/help/terms.html" rel="nofollow">Terms &amp; policies</a>
      </li>
      <li>
        <a href="/help/aboutus.html" rel="nofollow">About AllPosters</a>
      </li>
    </ul>
  </div>
</nav>

</art:body>
