<art:body>
  <art:cmsContentBlock path="content-blocks/common/header/responsive/other/svg-library"></art:cmsContentBlock>
  {%include 'partials/header/svg.njk' %}
  <nav class="nav-main">
    <!--Top Header-->
    <div class="mobile hamburger">
      <a href="#" style="display: inline-block" class="off-canvas-trigger" data-transition="ease">
        <svg width="25px" height="20px" viewBox="0 0 25 20" aria-labelledby="title desc" fill="#FFF">
          <rect width="25" height="4"></rect>
          <rect y="8" width="25" height="4"></rect>
          <rect y="16" width="25" height="4"></rect>
          <title>Menu Icon</title>
          <desc>This icon opens the menu</desc>
        </svg>
      </a>
    </div>
    <div class="mobile search-mobile">
      <a href="#" id="hdr-search-icon">
        <svg width="25px" height="20px" viewBox="0 0 11 11" aria-labelledby="title desc" fill="#FFF">
          <title>Search Icon</title>
          <desc>A dark-gray magnifying glass icon.</desc>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
        </svg>
      </a>
    </div>
    <div class="both logo"> <img src="http://cache1.allpostersimages.com/images/INTL/allposters/logo/white/r.png" alt="logo" /> </div>
    <div>
      <div class="desktop help"> Need Help? 888-654-0143 | Sign up for Special Offers | Track Your Order | Help | Español </div>
      <div>
        <span class="desktop-inline valueprops">Our products | Frames | Favorites | <art:cmsContentBlock path="content-blocks/common/header/responsive/other/valueprops"></art:cmsContentBlock></span> <span class="mobile-inline favorites">favorites</span>
        <div class="headrCart" id="headerCart">
          <a onclick="trackGAEvent('SelectCart','Header');" href="/gallery.asp?startat=/viewcart.asp" style="color: #FFF;">Cart</a>
          <span id="cartCount"> (<span id="cartCountText">0</span>) </span>
        </div>
        {% import 'macros/header/loginMain.njk' as loginMain %}
        {{loginMain.login('false')}}
      </div>
    </div>
    <art:cmsContentBlock path="content-blocks/common/header/responsive/other/search"></art:cmsContentBlock>
  </nav>
  <nav class="nav-menu">
    <!--bottom Header-->
    <div class="desktop-inline search-desktop"> desktop - searchbar </div>
    {% import 'macros/header/loginTray.njk' as loginTray %}
    {{loginTray.login('false')}}
    <ul class="both menu accordion">
      <art:cmsContentBlock path="content-blocks/common/header/responsive/menus/subjects"></art:cmsContentBlock>
      {%include 'partials/header/menus/subjects.html' %}
      <art:cmsContentBlock path="content-blocks/common/header/responsive/menus/art"></art:cmsContentBlock>
      {%include 'partials/header/menus/art.html' %}
      <art:cmsContentBlock path="content-blocks/common/header/responsive/menus/photography"></art:cmsContentBlock>
      {%include 'partials/header/menus/photography.html' %}
      <art:cmsContentBlock path="content-blocks/common/header/responsive/menus/t-shirts"></art:cmsContentBlock>
      {%include 'partials/header/menus/t-shirts.html' %}
      <art:cmsContentBlock path="content-blocks/common/header/responsive/menus/walldecor"></art:cmsContentBlock>
      {%include 'partials/header/menus/walldecor.html' %}
      <art:cmsContentBlock path="content-blocks/common/header/responsive/menus/novelty"></art:cmsContentBlock>
      {%include 'partials/header/menus/novelty.html' %}
      <art:cmsContentBlock path="content-blocks/common/header/responsive/menus/shopallcategories"></art:cmsContentBlock>
      {%include 'partials/header/menus/shopallcategories.html' %}
      <art:cmsContentBlock path="content-blocks/common/header/responsive/menus/new"></art:cmsContentBlock>
      {%include 'partials/header/menus/new.html' %}
      <art:cmsContentBlock path="content-blocks/common/header/responsive/menus/sale"></art:cmsContentBlock>
      {%include 'partials/header/menus/sale.html' %}
      <art:cmsContentBlock path="content-blocks/common/header/responsive/menus/myphotos"></art:cmsContentBlock>
      {%include 'partials/header/menus/myphotos.html' %}
    </ul>
  </nav>
</art:body>
