<art:body>
  <art:domainContent>
    <art:domain rule="domain=='www.allposters.com'">
      <li>
        <a href="/-st/What-s-New-Posters_c91182_.htm" art:subjectLink="href" class="headerDD" title="New" art:subjectName="title">New</a>
      </li>
    </art:domain>
    <art:domain rule="domain=='www.allposters.co.uk' || domain=='www.allposters.ie'">
      <li>
        <a href="/-st/What-s-New-posters_c149004_.htm" art:subjectLink="href" class="headerDD" title="New" art:subjectName="title">New</a>
      </li>
    </art:domain>
  </art:domainContent>
  <art:domainContent>
    <art:domain rule="domain=='www.allposters.ca'">
      <li>
        <a href="/-st/What-s-New-posters_c154941_.htm" art:subjectLink="href" class="headerDD" title="New" art:subjectName="title">New</a>
      </li>
    </art:domain>
  </art:domainContent>
</art:body>
