<art:body>
  <li class="accordion-section">
    <h2 class="nav-top__heading">
      <art:categorySubject id="155594">
        <a class="accordion-section-title" name="#accordion-novelty" href="/-st/Novelty-Specialty-Products-Posters_c155594_.htm" title="Novelty" art:subjectLink="href" art:subjectName="title">Novelty</a>
      </art:categorySubject>
    </h2>
    <div id="accordion-novelty" class="accordion-section-content">
      <nav id="novelty" class="dropdown">
        <ul>
          <li>
            <art:categorySubject id="153006">
              <a href="/-st/Accessories-Posters_c153006_.htm" title="Accessories" art:subjectLink="href">
                <art:subjectName>Accessories</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="260385">
              <a href="/-st/Bags-Totes-Posters_c260385_.htm" title="Bags &amp; Totes" art:subjectLink="href">
                <art:subjectName>Bags &amp; Totes</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="242867">
              <a href="/-st/Beach-Towels-Posters_c242867_.htm" title="Beach Towels" art:subjectLink="href">
                <art:subjectName>Beach Towels</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="55723">
              <a href="/-st/Cardboard-Cutouts-Posters_c55723_.htm" title="Cardboard Cutouts" art:subjectLink="href">
                <art:subjectName>Cardboard Cutouts</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="239108">
              <a href="/-st/Funko-Posters_c239108_.htm" title="Funko" art:subjectLink="href">
                <art:subjectName>Funko</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="154187">
              <a href="/-st/Jigsaw-Puzzles-Posters_c154187_.htm" title="Jigsaw Puzzles" art:subjectLink="href">
                <art:subjectName>Jigsaw Puzzles</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="260389">
              <a href="/-st/Mugs-Drinkware-Posters_c260389_.htm" title="Mugs &amp; Drinkware" art:subjectLink="href">
                <art:subjectName>Mugs &amp; Drinkware</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="236606">
              <a href="/-st/Throw-Pillows-Posters_c236606_.htm" title="Pillows" art:subjectLink="href">
                <art:subjectName>Pillows</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="260386">
              <a href="/-st/Tech-Accessories-Posters_c260386_.htm" title="Tech Accessories " art:subjectLink="href">
                <art:subjectName>Tech Accessories</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="137233">
              <a href="/-st/Throw-Blankets-Posters_c137233_.htm" title="Throw Blankets " art:subjectLink="href">
                <art:subjectName>Throw Blankets</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="242375">
              <a href="/-st/Tin-Boxes-Posters_c242375_.htm" title="Tin Boxes" art:subjectLink="href">
                <art:subjectName>Tin Boxes</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
        </ul>
      </nav>
    </div>
  </li>
</art:body>
