<art:body>
  <li class="accordion-section">
    <h2 class="nav-top__heading">
      <art:categorySubject id="623">
        <a class="accordion-section-title" name="#accordion-photo" href="/-st/Photography-Posters_c623_.htm" title="Photography" art:subjectLink="href" art:subjectName="title">Photography</a>
      </art:categorySubject>
    </h2>
    <div id="accordion-photo" class="accordion-section-content">
      <nav id="photo" class="dropdown">
        <ul>
          <li>
            <art:categorySubject id="6127">
              <a href="/-st/Black-and-White-Photography-Posters_c6127_.htm" title="Black and White Photography" art:subjectLink="href">
                <art:subjectName>Black and White Photography</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="6126">
              <a href="/-st/Color-Photography-Posters_c6126_.htm" title="Color Photography" art:subjectLink="href">
                <art:subjectName>Color Photography</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="118317">
              <a href="/-st/Fine-Art-Photography-Posters_c118317_.htm" title="Fine Art Photography" art:subjectLink="href">
                <art:subjectName>Fine Art Photography</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="18310">
              <a href="/-st/Sepia-Tone-Photography-Posters_c18310_.htm" title="Sepia Photography" art:subjectLink="href">
                <art:subjectName>Sepia Photography</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="124744">
              <a href="/-st/Spot-Color-Photography-Posters_c124744_.htm" title="Spot Color Photography" art:subjectLink="href">
                <art:subjectName>Spot Color Photography</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="53680">
              <a href="/-st/Vintage-Photography-Posters_c53680_.htm" title="Vintage Photography" art:subjectLink="href">
                <art:subjectName>Vintage Photography</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="106227">
              <a href="/-st/X-Ray-Photography-Posters_c106227_.htm" title="X-Ray Photography" art:subjectLink="href">
                <art:subjectName>X-Ray Photography</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <div class="headerLine"></div>
          <li>
            <art:categorySubject id="58280">
              <a href="/-st/Animals-Photography-Posters_c58280_.htm" title="Animals" art:subjectLink="href">
                <art:subjectName>Animals</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="58007">
              <a href="/-st/Architecture-Photography-Posters_c58007_.htm" title="Architecture" art:subjectLink="href">
                <art:subjectName>Architecture</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="6496">
              <a href="/-st/Botanical-Photography-Posters_c6496_.htm" title="Botanicals" art:subjectLink="href">
                <art:subjectName>Botanicals</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="10650">
              <a href="/-st/Celebrity-Photos-Posters_c10650_.htm" title="Celebrity Photos" art:subjectLink="href">
                <art:subjectName>Celebrity Photos</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="624">
              <a href="/-st/Landscapes-Photography-Posters_c624_.htm" title="Landscapes" art:subjectLink="href">
                <art:subjectName>Landscapes</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="84752">
              <a href="/-st/Panoramic-Photography-Posters_c84752_.htm" title="Panoramic" art:subjectLink="href">
                <art:subjectName>Panoramic</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="58282">
              <a href="/-st/Sports-Photography-Posters_c58282_.htm" title="Sports" art:subjectLink="href">
                <art:subjectName>Sports</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="56200">
              <a href="/-st/Photography-Subjects-Posters_c56200_.htm" title="All Photography Subjects" art:subjectLink="href">
                <art:subjectName>All Photography Subjects</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <div class="headerLine"></div>
          <li>
            <art:categorySubject id="261313">
              <a href="/-st/Art-on-Acrylic-Photography-Posters_c261313_.htm" title="Photography on Acrylic" art:subjectLink="href">
                <art:subjectName>Photography on Acrylic</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="261314">
              <a href="/-st/Metal-Prints-Photography-Posters_c261314_.htm" title="Photography on Metal" art:subjectLink="href">
                <art:subjectName>Photography on Metal</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <div class="headerLine"></div>
          <li>
            <art:categorySubject id="108545">
              <a href="/-st/LIFE-Collection-Posters_c108545_.htm" title="LIFE Collection" art:subjectLink="href">
                <art:subjectName>LIFE Collection</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
        </ul>
      </nav>
    </div>
  </li>
</art:body>
