<art:body>
  <li class="accordion-section">
    <h2 class="nav-top__heading">
      <art:categorySubject id="41634">
        <a class="accordion-section-title" name="#accordion-WD" href="/-st/Specialty-Products-Posters_c41634_.htm" title="Wall D&eacute;cor" art:subjectLink="href" art:subjectName="title">
          Wall D&eacute;cor
        </a>
      </art:categorySubject>
    </h2>
    <div id="accordion-WD" class="accordion-section-content">
      <nav id="wallDecor" class="dropdown">
        <ul class="dropdown__list">
          <li>
            <art:categorySubject id="95218">
              <a href="/-st/Hand-Painted-Art-Posters_c95218_.htm" title="Hand Painted Art" art:subjectLink="href">
                <art:subjectName>Hand Painted Art</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <art:categorySubject id="187221">
              <a href="/-st/Loft-Art-Posters_c187221_.htm" title="Loft Art" art:subjectLink="href">
                <art:subjectName>Loft Art</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <li>
            <a href="/~/switchart" title="SwitchArt">SwitchArt</a>
          </li>
          <li>
            <art:categorySubject id="215235">
              <a href="/-st/Wall-Clocks-Posters_c215235_.htm" title="Wall Clocks" art:subjectLink="href">
                <art:subjectName>Wall Clocks</art:subjectName>
              </a>
            </art:categorySubject>
          </li>
          <art:categorySubject id="84612">
            <li>
              <a href="/-st/Wall-Decals-Posters_c84612_.htm" title="Wall Decals &amp; Stickers" art:subjectLink="href">
                <art:subjectName>Wall Decals &amp; Stickers</art:subjectName>
              </a>
            </li>
          </art:categorySubject>
          <art:categorySubject id="103088">
            <li>
              <a href="/-st/Wall-Murals-Posters_c103088_.htm" title="Wall Murals" art:subjectLink="href">
                <art:subjectName>Wall Murals</art:subjectName>
              </a>
            </li>
          </art:categorySubject>
          <art:categorySubject id="73181">
            <li>
              <a href="/-st/Wall-Signs-Posters_c73181_.htm" title="Wall Signs" art:subjectLink="href">
                <art:subjectName>Wall Signs</art:subjectName>
              </a>
            </li>
          </art:categorySubject>
          <art:categorySubject id="52675">
            <li>
              <a href="/-st/Wall-Tapestry-Posters_c52675_.htm" title="Wall Tapestries" art:subjectLink="href">
                <art:subjectName>Wall Tapestries</art:subjectName>
              </a>
            </li>
          </art:categorySubject>
          <art:categorySubject id="240517">
            <li>
              <a href="/-st/Wood-Prints-Posters_c240517_.htm" title="Wood Prints" art:subjectLink="href">
                <art:subjectName>Wood Prints</art:subjectName>
              </a>
            </li>
          </art:categorySubject>
        </ul>
      </nav>
    </div>
  </li>
</art:body>
