<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}
<header>
{%include 'partials/header/index.html' %}
</header>
  <div class="cellmaincontent" id="main">
    <div id="tpl-row">
      <div class="tpl-cbs">
        <div class="tpl-cb floatLeft">
          {%include 'partials/home/1_hero.html' %}
        </div>
        <div class="tpl-cb floatLeft">
          {%include 'partials/home/2_hotProd.html' %}
        </div>
        <div class="tpl-cb floatLeft">
          {%include 'partials/home/3_valueProps.html' %}
        </div>
        <div class="tpl-cb floatLeft">
          {%include 'partials/home/4_stillLooking.html' %}
        </div>
        <div class="tpl-cb floatLeft">
          {%include 'partials/home/5_aboutUs.html' %}
        </div>
        <div class="tpl-cb floatLeft">
          {%include 'partials/home/6_bottomNav.html' %}
        </div>
      </div>
    </div>
  </div>
<footer>
{%include 'partials/footer/index.html' %}
</footer>
{% endblock %}
