<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}
  <div class="tpl-cb floatLeft">
    {%include 'partials/home/1_hero.html' %}
  </div>
  <div class="tpl-cb floatLeft">
    {%include 'partials/home/2_hotProd.html' %}
  </div>
  <div class="tpl-cb floatLeft">
    {%include 'partials/home/3_valueProps.html' %}
  </div>
  <div class="tpl-cb floatLeft">
    {%include 'partials/home/4_stillLooking.html' %}
  </div>
  <div class="tpl-cb floatLeft">
    {%include 'partials/home/5_aboutUs.html' %}
  </div>
  <div class="tpl-cb floatLeft">
    {%include 'partials/home/6_bottomNav.html' %}
  </div>
{% endblock %}
