
.nav-main #headerTop,
.nav-main .headerTop {
  display: none;
}
@media screen and (min-width: 1008px) {
  .nav-main #headerTop,
  .nav-main .headerTop {
    float: right;
    display: block;
    padding-right: 0;
    font-size: 13px;
    box-sizing: border-box;
  }
}
.nav-main .hamburger,
.nav-main .search-mobile,
.nav-main .favorites,
.nav-main .headrCart {
  width: 44px;
  text-align: center;
  padding-top: 10px;
}
.nav-main .logo {
  width: calc(100% - 176px);
  float: left;
}

.nav-main .logo img {
  display: block;
  width: 100%;
  max-width: 275px;
  height: auto;
  margin: 0 auto;
}

@media screen and (min-width: 1008px) {
  .nav-main .logo {
    width: auto;
  }
}
.nav-main .favorites {
  float: right;
}
.nav-main .headerTop #headerMLS {
  float: none;
  display: inline-block;
  background-color: #FFF;
  padding: 2px;
  color: #C62018;
  margin-top: 0;
  margin-left: 8px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.nav-main .headerVP {
  display:none;
}
@media screen and (min-width: 1008px) {
  .nav-main .headerVP {
    display: block;
    float: right;
  }
  .nav-main .headerVP .headerValueProp {
    float: none;
    display: inline;
  }
  .nav-main .headerVP .headerValueProp:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .nav-main .headerVP .valuePropsDividerLog  {
    float: none;
    display: inline;
    margin: 0;
    color: white;
  }
  .nav-main .myAcct-dropdown {
    display: inline;
    position: relative;
  }
  .nav-main .myAcct-dropdown #DD_outCont {
    left:0;
  }
}

.nav-main--content #headerCart {
  margin-top: 0;
  color: #FFF;
  clear: right;
  position: relative;
  padding-left: 0;
}
@media screen and (min-width: 1008px) {
  .nav-main--content #headerCart {
    width: 12.5%;
    text-align: right;
  }
}

.nav-main--content #headerCart a {
  text-decoration: none;
  color: #FFF;
  position: relative;
}

.nav-main--content #headerCart a:hover {
  text-decoration: underline;
  color: #FFF;
}

.nav-main--content #headerCart #cartCountText {
    background: $color-red;
    border-radius: 10px;
    color: white;
    display: block;
    text-align: center;
    height: 0;
    min-width: 10px;
    padding: 8px 3px;
    position: absolute;
    left: 15px;
    top: -10px;
    vertical-align: middle;
    font-size: 10px;
    font-weight: normal;
    z-index: 1;
    font-family: $font-family-text
    line-height: 0;
}
@media screen and (min-width: 1008px) {
  .nav-main--content #headerCart #cartCountText:before {
    content: '(';
  }
  .nav-main--content #headerCart #cartCountText:after {
    content: ')';
  }
  .nav-main--content #headerCart #cartCountText {
      position: static;
      width: auto;
      display: inline;
      background: transparent;
      color: white;
      font-size: 14px;
      vertical-align: baseline;
  }
}
.nav-main--search {
  clear: both;
}
@media screen and (min-width: 1008px) {
  .nav-main--search {
    display: none !important;
  }
}
