.searchBar,
.searchBar * {
  box-sizing: border-box;
}
.searchBar-mobile {
  display: block;
  width: 100%;
  border: none;
  font-family: $font-family-text
  font-weight: bold;
  font-size: 12px;
  color: $color-gray
}
.searchBar-mobile #forSearch {
  width: 100%;
  display: block;
  padding: 8px;
}
.searchBar-mobile #forSearch .searchBoxText {
  width: 100%;
  padding: 0 5px;
  font-family: $font-family-text
  font-weight: normal;
  color: $color-gray
  border: none;
}
.searchBar-mobile .searchButton {
  display: none;
}
.searchBar-desktop {
  display: none;
}
@media screen and (min-width: 1008px) {
  .searchBar-mobile {
    display: none;
  }
  .searchBar-desktop {
    display: block;
    padding: 5px
  }

  .searchBar.searchBar-desktop #forSearch:after {
    display: table;
    content: '';
    clear: both;
  }
  .searchBar.searchBar-desktop .searchBoxText,
  .searchBar.searchBar-desktop .searchButton {
    float: left;
    margin: 0;
    padding: 0;
  }
  .searchBar.searchBar-desktop .searchBoxText {
    font-family: $font-family-text;
    font-weight: bold;
    font-size: 12px;
    color: #666;
    border: 1px solid #4C5055;
    height: 24px;
    width: 200px;
    padding-left: 5px;
    padding-top: 0;
    box-sizing: border-box;
  }
  .searchBar.searchBar-desktop .searchButton {
    background: #da2d2f;
    background: linear-gradient(to bottom,#da2d2f 0,#91191b 100%);
    text-transform: uppercase;
    height: 100%;
    padding: 6px;
    font-family: $font-family-text;
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
    border: 0;
  }
}
