// Standard sitewide styles should go here. These will be applied to every page.
// Thins like font-family, main colors, element-level selectors, etc.
html, body {
  height: 100%;
  width: 100%;
}
.bodyAllowHelp {
  overflow: hidden;
}

.blue-text {
  color: $color-brand-blue
}
