//colors
$color-brand-red = #C82020
$color-brand-blue = #30BEEF

$color-link-blue = #1a5d82
//fonts
$font-family-brand-heading = 'FetteEngschrift', 'Fette Engschrift', Fette, Arial, sans-serif
$font-family-brand-text =  Glyddon, 'glyddonregular', glyddonregular, Georgia, 'Times New Roman', Times, serif
$font-family-text = 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif
