//colors
$color-brand-red = #C82020
$color-brand-blue = #30BEEF

//fonts
$font-family-brand-heading = 'FetteEngschrift', 'Fette Engschrift', Fette, Arial, sans-serif
$font-family-brand-text =  'glyddonregular', glyddonregular, Georgia, 'Times New Roman', Times, serif
$font-family-text = 'Helvetica Neue', HelveticaNeue, Helvecita, Arial, sans-serif
