<art:head>
  <style>
    #main {
      max-width: 100%;
      width: 100%;
    }

    .tpl-cb {
      width: 100%;
    }

    .hero-wrap {
      max-width: 1008px;
      width: 100%;
      margin: 0 auto;
    }

    .hero-wrap:after {
      display: table;
      clear: both;
      content: '';
    }

    .heromodule img {
      width: 100%;
      height: auto;
      display: block;
    }

    .heromodule a {
      display: block;
    }

    .heroMain {
      width: 100%;
      margin: 0 0 10px 0;
    }

    @media only screen and (min-width: 667px) {
      .heroMain {
        float: left;
        width: 50%;
        margin: 0;
      }
      .heroMain a {
        margin: 0 5px 0 0;
      }
    }

    .hero2 {
      width: 100%;
      margin-bottom: 10px;
      position: relative;
    }

    .hero2 a {
      /*background-color: #7f99b0;*/
    }

    @media only screen and (min-width: 667px) {
      .hero2 {
        float: right;
        margin: 0;
        width: 50%;
      }
      .hero2 a {
        margin: 0 0 10px 5px;
      }
    }

    .hero3 {
      width: 100%;
      display: block
    }

    @media only screen and (min-width: 667px) {
      .hero3 {
        float: right;
        width: 50%;
      }
      .hero3 a {
        margin: 0 0 0 5px;
      }
    }
  </style>
</art:head>
<art:body>
  <div class="hero-wrap">
    <div class="hero2 heromodule track-group" id="track-saleHero">
      <a href="/gallery/id--b261671/sale-event-posters.htm"> <img src="http://cache1.allpostersimages.com/images/homepage/HERO/20160701/hero2_en.jpg" alt="her2" /> </a>
    </div>
    <div class="heroMain heromodule track-group" id="frameyourart">
      <a href="/frameyourart"> <img alt="Introducing Frame Your Art. Framing as easy as mailing a letter. Skip the visits to frame shops and let us custom frame your art by mail. Learn more." src="http://cache1.allpostersimages.com/images/homepage/HERO/20160615/hero1.jpg"> </a>
    </div>
    <div class="hero3 heromodule track-group" id="track-animals">
      <a href="/gallery/id--b1823/animals-posters.htm"> <img src="http://cache1.allpostersimages.com/images/homepage/HERO/20160615/hero3.jpg" alt="Animal Instinct add a dash of unexpected personality shop now"> </a>
    </div>
  </div>
</art:body>
