<art:head>
  <style>
    .hotprod {
      max-width: 1008px;
      margin: 0 auto 24px;
    }

    .hotprod h2 {
      font: 36px/1 'FetteEngschrift', 'Fette Engschrift', Fette, Arial, sans-serif;
      text-transform: uppercase;
      color: #000;
      border-bottom: solid 1px #ddd;
      margin: 12px 0 12px;
    }

    .hotprod-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .hotprod a {
      position: relative;
      height: 236px;
      width: 32%;
      margin-right: 2%;
    }

    .hotprod a:nth-child(3n) {
      margin-right: 0;
    }

    .hotprod a:nth-child(n+4) {
      margin-top: 10px;
    }

    .hotprod-copy {
      box-sizing: border-box;
      display: block;
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: rgba(0, 0, 0, .5);
      padding: 15px 0 15px 15px;
      font: 26px/1 'FetteEngschrift', 'Fette Engschrift', Fette, Arial, sans-serif;
      color: #FFF;
      text-transform: uppercase;
    }

    #track-movies {
      background-image: url(http://cache1.allpostersimages.com/images/homepage/Hotp/2016/0701/movies.jpg);
      background-size: cover;
    }

    #track-tees {
      background-image: url(http://cache1.allpostersimages.com/images/homepage/Hotp/2016/0701/us/pokemon.jpg);
      background-size: cover;
    }

    #track-music {
      background-image: url(http://cache1.allpostersimages.com/images/homepage/Hotp/2016/0701/us/music.jpg);
      background-size: cover;
    }

    #track-novelty {
      background-image: url(http://cache1.allpostersimages.com/images/homepage/Hotp/2016/0701/us/novelty.jpg);
      background-size: cover;
    }

    #track-wallSigns {
      background-image: url(http://cache1.allpostersimages.com/images/homepage/Hotp/2016/0701/us/wallsigns.jpg);
      background-size: cover;
    }

    #track-cardboardCutout {
      background-image: url(http://cache1.allpostersimages.com/images/homepage/Hotp/2016/0701/us/cardboardcutout.jpg);
      background-size: cover;
    }
    /*Media Queries for Height*/

    @media only screen and (max-width: 1007px) {
      .hotprod h2 {
        padding-left: 12px;
      }
    }

    @media only screen and (max-width: 890px) {
      .hotprod a {
        height: 225px;
      }
    }

    @media only screen and (max-width: 750px) {
      .hotprod a {
        height: 200px;
      }
    }

    @media only screen and (max-width: 600px) {
      .hotprod a {
        height: 175px;
      }
    }

    @media only screen and (max-width: 400px) {
      .hotprod a {
        height: 145px;
      }
    }
  </style>
</art:head>
<art:body>
  <div class="hotprod">
    <h2>Hot Products</h2>
    <div class="hotprod-wrapper">
      <a class="track-group" id="track-movies" href="/-st/Movie-Posters_c101_.htm"> <span class="hotprod-copy">MOVIES</span> </a>
      <a class="track-group" id="track-music" href="/-st/Music-Posters_c122_.htm"> <span class="hotprod-copy">MUSIC</span> </a>
      <a class="track-group" id="track-tees" href="/-st/Anime-T-Shirt-Posters_c44077_.htm"> <span class="hotprod-copy">TEES</span> </a>
      <a class="track-group" id="track-wallSigns" href="/-st/Wall-Signs-Posters_c73181_.htm"> <span class="hotprod-copy">WALL SIGNS</span> </a>
      <a class="track-group" id="track-cardboardCutout" href="/-st/Cardboard-Cutouts-Posters_c55723_.htm"> <span class="hotprod-copy">CARDBOARD CUTOUTS</span> </a>
      <a class="track-group" id="track-novelty" href="/-st/Novelty-Specialty-Products-Posters_c155594_.htm"> <span class="hotprod-copy">NOVELTY</span> </a>
    </div>
  </div>
</art:body>
