<art:head>
  <art:langText>
    <art:text lang="en">
      <style>
        .sl-wrapper {
          max-width: 1008px;
          padding: 0 5px;
          margin: 0 auto;
        }

        .sl-wrapper h1 {
          font: 36px/100% 'FetteEngschrift', Helvetica, Arial, sans-serif;
          text-transform: uppercase;
          border-bottom: 1px solid #ddd;
          color: #000;
          padding: 0 0 10px;
          margin: 0 0 10px;
        }

        .sl-text h2 {
          font: 32px/85% 'FetteEngschrift', Helvetica, Arial, sans-serif;
          text-transform: uppercase;
          margin: 0 0 10px;
          padding: 0;
        }

        .sl-text p {
          font: 12px/135% HelveticaNeue-Light, "Helvetica Neue Light", Helvetica, Arial, sans-serif;
          font-style: italic;
          margin: 0 0 10px;
          padding: 0;
        }

        .sl-group {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
        }

        .sl-item {
          margin-bottom: 10px;
          position: relative;
        }

        #sl-movies {
          background: url('http://cache1.allpostersimages.com/images/homepage/staffpick/still/still_movies.jpg') no-repeat;
          width: 105px;
          height: 132px;
        }

        #sl-deco {
          background: url('http://cache1.allpostersimages.com/images/homepage/staffpick/still/sp_deco.jpg') no-repeat;
          width: 179px;
          height: 124px;
        }

        #sl-music {
          background: url('http://cache1.allpostersimages.com/images/homepage/staffpick/still/still_music.jpg') no-repeat;
          width: 95px;
          height: 126px;
        }

        #sl-figurative {
          background: url('http://cache1.allpostersimages.com/images/homepage/staffpick/still/sp_fig.jpg') no-repeat;
          width: 136px;
          height: 129px;
        }

        #sl-landscape {
          background: url('http://cache1.allpostersimages.com/images/homepage/staffpick/still/sp_beach.jpg') no-repeat;
          width: 146px;
          height: 110px;
        }

        #sl-vintage {
          background: url('http://cache1.allpostersimages.com/images/homepage/staffpick/still/sp_bally.gif') no-repeat;
          width: 125px;
          height: 109px;
        }

        #sl-photo {
          background: url('http://cache1.allpostersimages.com/images/homepage/staffpick/still/sp_photo.jpg') no-repeat;
          width: 195px;
          height: 109px;
        }

        #sl-humor {
          background: url('http://cache1.allpostersimages.com/images/homepage/staffpick/still/sp_monk.gif') no-repeat;
          width: 87px;
          height: 102px;
        }

        #sl-sports {
          background: url('http://cache1.allpostersimages.com/images/homepage/staffpick/still/still_sports2.jpg') no-repeat;
          width: 186px;
          height: 102px;
        }

        .sl-item> a {
          text-decoration: none;
          color: #fff;
        }

        .sl-item p {
          font-family: 'glyddonitalic', serif !important;
          font-size: 20px;
          text-align: center;
          margin: 0;
          width: 100%;
          position: absolute;
          top: 50%;
        }

        .sl-item span {
          display: block;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.5);
          opacity: 1;
          transition: .6s;
        }

        .sl-item:hover span {
          opacity: 0;
        }

        @media screen and (min-width:720px) {
          .sl-text {
            float: left;
            padding: 0 0 10px 25px;
            width: 220px;
          }
          .sl-text h2 {
            font: 400 32px/85% FetteEngschrift;
            margin: 30px 0 5px;
            padding: 0;
          }
          .sl-text p {
            font: italic 12px/135% HelveticaNeue-Light, "Helvetica Neue Light", Helvetica, Arial, sans-serif;
            margin: 0;
            padding: 0;
          }
        }

        @media screen and (max-width: 500px) {
          .sl-wrapper {
            width: 91%;
            margin: 0 auto;
          }
        }
      </style>
    </art:text>
  </art:langText>
</art:head>
<art:body>
  <art:langText>
    <art:text lang="en">
      <div class="sl-wrapper">
        <h1>Still Looking</h1>
        <div class="sl-text">
          <h2>Shop Our Top Categories</h2>
          <p>AllPosters.com offers a wide variety of posters, art prints, canvas art and other unique items sure to satisfy your passions. Whether you are looking for something for the moment — a cool poster, a funny t-shirt, a standup — or an iconic piece, AllPosters.com has it! Start browsing our most popular categories.</p>
        </div>
        <div class="sl-group">
          <div class="sl-item track-group" id="sl-movies">
            <a href="/-st/Movie-Posters_c101_.htm"> <span><p>Movies &gt;</p></span> </a>
          </div>
          <div class="sl-item track-group" id="sl-deco">
            <a href="/-st/Decorative-Art-Posters_c1152_.htm"> <span><p>Decorative &gt;</p></span> </a>
          </div>
          <div class="sl-item track-group" id="sl-music">
            <a href="/-st/Music-Posters_c122_.htm"> <span><p>Music &gt;</p></span> </a>
          </div>
          <div class="sl-item track-group" id="sl-figurative">
            <a href="/-st/Figurative-Fine-Art-Posters_c90209_.htm"> <span><p>Figurative &gt;</p></span> </a>
          </div>
          <div class="sl-item track-group" id="sl-landscape">
            <a href="/-st/Figurative-Fine-Art-Posters_c90209_.htm"> <span><p>Landscape &gt;</p></span> </a>
          </div>
          <div class="sl-item track-group" id="sl-vintage">
            <a href="/-st/Vintage-Art-Posters_c2152_.htm"> <span><p>Vintage &gt;</p></span> </a>
          </div>
          <div class="sl-item track-group" id="sl-photo">
            <a href="/-st/Photography-Posters_c623_.htm"> <span><p>Photography &gt;</p></span> </a>
          </div>
          <div class="sl-item track-group" id="sl-humor">
            <a href="/-st/Humor-Posters_c1016_.htm"> <span><p>Humor &gt;</p></span> </a>
          </div>
          <div class="sl-item track-group" id="sl-sports">
            <a href="/-st/Sports-Posters_c290_.htm"> <span><p>Sports &gt;</p></span> </a>
          </div>
        </div>
      </div>
    </art:text>
    <art:text lang="es"> </art:text>
  </art:langText>
</art:body>
