<art:head>
  <style>
    #about-wrap {
      width: 100%;
      max-width: 1008px;
      margin: 12px auto 0;
      padding-bottom: 15px;
      font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    }

    #about-wrap h2 {
      margin: 12px 0 0 0;
      font-family: 'FetteEngschrift';
      font-weight: normal;
      font-size: 36px;
      color: #000000;
      text-transform: uppercase;
      border-bottom: 1px solid #dddddd;
    }

    .about-content {
      border-bottom: 1px solid #CCCCCC;
      color: #333333;
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 24px;
      margin-left: auto;
      margin-right: auto;
      padding: 12px 0;
      text-align: left;
    }
  </style>
</art:head>
<art:body>
  <art:text lang="es">
    <div id="about-wrap">
      <h2 class="homeSubHeading">Nosotros</h2>
      <p class="about-content">Con m&#225;s de 1 000 000 de im&#225;genes, AllPosters es la tienda para tus compras de arte. Te ofrecemos una gran variedad de p&#243;sters, l&#225;minas y otros art&#237;culos para todos los gustos, estilos y presupuestos. Busca entre los &#250;ltimos p&#243;sters de m&#250;sica, pel&#237;culas, deportes y mucho m&#225;s. Encuentra tus l&#225;minas favoritas de los grandes maestros cl&#225;sicos. Descubre a los artistas m&#225;s prometedores. Explora nuestras colecciones especiales. Elige entre una gran variedad de marcos personalizados, lienzos, arte sobre madera y otras opciones de servicio para verdaderamente decorar a tu gusto. Y todo ello con una gran calidad y precios incre&#237;bles. Comienza ahora tu b&#250;squeda y comprobar&#225;s c&#243;mo AllPosters est&#225; cambiando la manera en la que el mundo descubre y personaliza el arte.</p>
    </div>
  </art:text>
  <art:text lang="en">
    <div id="about-wrap">
      <h2 class="homeSubHeading">About Us</h2>
      <p class="about-content">AllPosters.com is the go-to destination to shop for wall art and other fun visual products that express personal interests, life-long passions and of-the-moment obsessions. With a selection of over 3,000,000 images, AllPosters has something for every budget and decorating style. Find your favorite art prints from classic masters and discover up-and-coming artists. Browse the hottest posters in music, movies and sports. Explore our range of t-shirts and novelty gifts. You can even turn your own photo into an art masterpiece with MyPhotos. Plus, choose from custom framing, canvas and wood mounting to truly make a piece your own – all high-quality at amazing prices.</p>
    </div>
  </art:text>
</art:body>
