<art:head>
  <style type="text/css">
    #aboutUsContainer {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
      max-width: 1008px;
      margin-top: 12px;
      padding-bottom: 15px;
    }

    #about_us_header {
      height: 34px;
      text-align: left;
      color: #FFFFFF;
      font-size: 18px;
      display: table;
      width: 97.619047619048%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }

    #about_us_header h2 {
      font-family: 'FetteEngschrift';
      font-size: 36px;
      color: #000000;
      text-transform: uppercase;
      margin: 12px 0 0 0;
      font-weight: normal;
      padding: 0px;
    }

    #about_uses_header {
      height: 34px;
      background-color: #677590;
      text-align: left;
      color: #FFFFFF;
      font-size: 18px;
      display: table;
      max-width: 984px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }

    #about_uses_header_content {
      vertical-align: middle;
      display: table-cell;
      padding-left: 16px;
      # padding-top: 5px;
    }

    #about_us_header_content {
      vertical-align: middle;
      display: table-cell;
      padding-top: 5px;
    }

    #about_uses_content {
      padding: 16px;
      width: 984px;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      color: #333333;
      font-size: 12px;
      border-right: 1px Solid #CCCCCC;
      border-left: 1px Solid #CCCCCC;
      border-bottom: 1px Solid #CCCCCC;
      line-height: 16px;
    }

    #about_us_content {
      border-bottom: 1px solid #CCCCCC;
      margin-bottom: 24px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 0 12px;
      width: 97.619047619048%;
    }

    #about_us_content p {
      color: #333333;
      font-size: 12px;
      line-height: 16px;
      text-align: left;
    }
  </style>
</art:head>
<art:body>
  <art:text lang="en">
    <div id="aboutUsContainer">
      <div id="about_us_header">
        <div id="about_us_header_content">
          <h1 class="home">About Us</h1>
        </div>
      </div>
      <div id="about_us_content">
        <p> AllPosters.com is the go-to destination to shop for wall art and other fun visual products that express personal interests, life-long passions and of-the-moment obsessions. With a selection of over 3,000,000 images, AllPosters has something for every budget and decorating style. Find your favorite art prints from classic masters and discover up-and-coming artists. Browse the hottest posters in music, movies and sports. Explore our range of t-shirts and novelty gifts. You can even turn your own photo into an art masterpiece with MyPhotos. Plus, choose from custom framing, canvas and wood mounting to truly make a piece your own – all high-quality at amazing prices.</p>
      </div>
    </div>
  </art:text>
</art:body>
