{% macro login(logState='true') %}
{%if logState == 'true' %}
<art:content rule="loggedin">
  <div class="dropdown-tray dropdown-tray-loggedin">
    <a class="tray-button tray-button-help" href="#" onclick="helpClick();">
      <svg viewBox="0 0 75.8 98.7" aria-labelledby="title desc">
        <title>Help Icon</title>
        <desc>A dark-gray phone icon.</desc>
        <use xlink:href="#icon-phone"></use>
      </svg>Help
    </a>
    <a class="tray-button tray-button-login" id="hdr-new-my-account">
      <svg viewBox="0 0 11.3 10.8" aria-labelledby="title desc">
        <title>User icon</title>
        <desc>A dark-gray icon of a site user.</desc>
        <use xlink:href="#icon-user"></use>
      </svg>My Account
    </a>
    <a class="tray-button tray-button-login" id="hdr-new-logout">
      <svg width="38px" height="38px" viewBox="0 0 49.8 48.8">
      <title>Logout icon</title>
      <desc>A white logout icon.</desc>
      <use xlink:href="#icon-logout"></use>
      </svg>Log Out
    </a>
  </div>
</art:content>
{% endif %}
{%if logState == 'false' %}
<art:content rule="!loggedin">
  <div class="dropdown-tray dropdown-tray-loggedout">
      <a class="tray-button tray-button-help" href="#" onclick="helpClick();">
      <svg viewBox="0 0 75.8 98.7" aria-labelledby="title desc">
        <title>Help Icon</title>
        <desc>A dark-gray phone icon.</desc>
        <use xlink:href="#icon-phone"></use>
      </svg>Help</a>
      <a class="tray-button tray-button-login top_nav_log">
      <svg viewBox="0 0 11.3 10.8" aria-labelledby="title desc">
      <title>User icon</title>
      <desc>A white icon of a site user.</desc>
      <use xlink:href="#icon-user"></use>
    </svg>Log in / Signup</a>
  </div>
</art:content>
{% endif %}
{% endmacro %}
